body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size:50px;
}
.orange-color{
    color:orange;
}
.flex-box{
    display:flex;
    margin-bottom: 150px;
}
.half-width{
    padding-left: 5%;
    width:50%
}
.half-width img{
    width: 80%;
}
.btn{
    text-decoration: none;
    font-weight: bold; 
    color: white;
    background-image: linear-gradient(45deg,salmon, tomato);
    padding: 10px 40px;
    border-radius:5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y:bottom;
}
.exprence-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.exprence-item{
    width:40%;
    margin-left: 5%;
    margin-right:5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius:10px;
}
#web-exp-left{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#web-exp-right{
    border-left: 7px solid;
    border-image: linear-gradient(cyan, blue);
    border-image-slice: 1;
}
footer{
    text-align:center;
}